*~
build/
scratch/
_CPack_Packages/
/libraries/
CMakeFiles/
CMakeCache.txt
.o
benchmarks/
.kdev/
*.kdev4
src/CPackConfig.cmake
src/CPackSourceConfig.cmake
Makefile
*.conf.local
src/compile_commands.json
website/
utilities/
samples/
nbproject/
runtime_data/keypoints/source.txt
*.deb
*.rpm
openalpr_*.tar.gz
openalpr-*.asc
openalpr-*.sig
openalpr-*.tar.gz

# Visual Studio files
*.vcxproj
*.vcxproj.*
*.suo
*.sln
*.sdf
*.opensdf
*.dir/
Debug/
Release/

#Eclipse files
# Eclipse
.classpath
.project
.settings/
.cproject

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

cmake_install.cmake
*.cmake
*.so
*.so.1
*.a
CPackConfig.cmake
*.cmake

#pydev
*.pydevproject

#OpenALPR related
alpr
alprd
alprd_results/
#.*
core
